<!DOCTYPE html> 
<html> 
	<head> 
		<title> stitches </title>
	</head>
	<body> 
	
		<h1> stitches </h1>
		
		<p> contents </p>
		<a href = '#sc'> single crochet (sc) </a> <br>
		<a href = '#dc'> double crochet (fc) </a><br>
		<a href = '#tc'> treble crochet (c) </a><br>
		<a href = '#hdc'> half double crochet (hdc) </a><br>
		
		<div id = 'sc' name = 'sc'> 
			<h2> single crochet (sc) </h2>
			<video width="320" height="240" controls>
			  <source src="{{url_for('static', filename = 'video/sample.mp4')}}" type="video/mp4">
			Your browser does not support the video tag.
			</video>
		</div>
		
		<div id = 'dc' name = 'dc'> 
			<h2> double crochet (dc) </h2>
			<!-- video --> 
		</div>
		
		<div id = 'tc' name = 'tc'> 
			<h2> treble crochet (tc) </h2>
			<!-- video --> 
		</div>
		
		<div id = 'hdc' name = 'hdc'> 
			<h2> half double crochet (hdc) </h2>
			<!-- video --> 
		</div>

	</body>
		
</html>